<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong></strong>
    <p>Ready to create an app?</p>

     
      <video #videoElement autoplay></video>
      <img #imageElement *ngIf="imageUrl">
      <ion-button (click)="getCroppedImage()" *ngIf="imageUrl">Crop Image</ion-button>
      <ion-toolbar>
        <ion-button (click)="openCamera()">Open Camera</ion-button>
        <ion-button (click)="captureImage()">Capture Image</ion-button>
        
      </ion-toolbar>
   
  
  </div>

</ion-content>



